.custom-navbar {
    background-color: #d4a170;
    padding-top: 5px;
    padding-bottom: 5px;
}

.h1 {
    font-family: system-ui, -apple-system, 'Helvetica Neue';
    font-weight: lighter;
    font-size: 42px;
}

.custom-register-button {
    border: none;
    border-radius: 15px;
    padding: 10px 15px;
    cursor: pointer;
    font-family: system-ui, -apple-system, 'Helvetica Neue';
    font-weight: bold;
    font-size: 18px;
    color: #fff;
    background-color: #b27925;
    box-shadow: 0 5px 15px #000000;
    transition: all 0.1s ease;
}

.custom-register-button:hover {
    background-color: #f8efda;
    color: #392408;
}

.custom-register-button:active {
    background-color: #f8efda;
    color: #392408;
    box-shadow: none;
}

.custom-signin-button {
    border: #392408;
    border-radius: 45px;
    background-color: #00000000;
    color: #000000;
    padding: 10px 30px;
    cursor: pointer;
    font-family: system-ui, -apple-system, 'Helvetica Neue';
    font-weight: normal;
    
}

.custom-signin-button:hover {
    border: 4px;
    border-color: #392408;
    color: #000000;
    background-color: transparent;
    box-shadow: 0 5px 20px #000000;
}

.custom-signin-button:active {
    border: #392408;
    background-color: transparent;
    color: #000000;
}


